:root {
    --salmon: rgb(255, 166, 147);
    --raspberry: rgb(182, 70, 95);
    --green-black: rgb(22, 37, 33);
    --charcoal: rgb(60, 71, 75);
    --periwinkle: rgb(144, 151, 192);
    --white: rgb(255, 255, 255);
}

.bg-light {
    background-color: var(--periwinkle) !important;
}

.btn-success {
    color: var(--white);
    background-color: var(--raspberry);
    border-color: var(--raspberry);
}

.btn-success:hover {
    color: var(--white);
    background-color: var(--salmon);
    border-color: var(--green-black);
}

.btn-outline-success {
    color: var(--raspberry);
    border-color: var(--raspberry);
}

.btn-outline-success:hover {
    color: rgb(255, 255, 255);
    background-color: var(--raspberry);
    border-color: var(--raspberry);
}